@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width" />
  <title>@ViewData["Title"]</title>
  <!--Folha de estilo-->
  <link rel="stylesheet" href="~/css/bootstrap.min.css" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dakrk bg-success">
    <div class="container-fluid">
      <a class="navbar-brand"><strong>Sistema de Contas</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/Contas/Home"><strong>Home</strong></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <strong>Gerenciar Minhas Contas</strong>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/Contas/Cadastro">Cadastrar Contas</a></li>
              <li><a class="dropdown-item" href="/Contas/Consulta">Consultar Contas</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    @if(TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
        @TempData["MensagemSucesso"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    else if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
        @TempData["MensagemErro"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

  <div class="container mt-3">
      @RenderBody()
  </div>

  <!--arquivo de script-->
  <script src="~/js/bootstrap.bundle.min.js"></script>

  <!--inserir conteudo de script-->
  @RenderSection("scripts",required:false)
</body>

</html>
